<% layout("/layouts/boylerplate") -%>
<body>
    <div class="row mt-3">
        <div class="col-10 offset-1">
            <h3><%= searchDatas[0].volumeInfo.title %></h3>
            <div class="card mb-3">
                <div class="row g-2">
                <div class="col-md-4 offset-4 border border-dark rounded p-2">
                    <img src="<%= searchDatas[0].volumeInfo.smallThumbnail %>" class="card-img-top rounded-start text-center" alt="...">
                </div>
                <div class="card-body">
                <div class="m-3">
                    <div class="card-body">
                    <h5 class="card-title"><%= searchDatas[0].volumeInfo.title %></h5>
                    <p class="card-text"> | <small class="text-body-secondary"><%= searchDatas[0].volumeInfo.publisher %></small> | <small class="text-body-secondary"><%= searchDatas[0].volumeInfo.publishedDate %></small></p>
                    <p class="card-text"><%= searchDatas[0].volumeInfo.description %></p>
                    <a href="/listings/<%= searchDatas[0].volumeInfo.title %>" class="listing-links">Read More!</a>
                    </div>
                </div>
                </div>
                </div>
            </div>
            <h3>Recomandation</h3>
            <% for( let listing of searchDatas){ %> 
                <div class="card mb-3">
                    <div class="row g-2">
                    <div class="col-md-4 offset-4 border border-dark rounded p-2">
                        <img src="<%= listing.volumeInfo.smallThumbnail %>" class="card-img-top rounded-start" alt="...">
                    </div>
                    <div class="card-body">
                    <div class="m-3">
                        <div class="card-body">
                        <h5 class="card-title"><%= listing.volumeInfo.title %></h5>
                        <p class="card-text"> | <small class="text-body-secondary"><%= listing.volumeInfo.publisher %></small> | <small class="text-body-secondary"><%= listing.volumeInfo.publishedDate %></small></p>
                        <p class="card-text"><%= listing.volumeInfo.description %></p>
                        <a href="/listings/<%= listing.volumeInfo.title %>" class="listing-links">Read More!</a>
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
        <% } %>
        </div>
    </div>
</body>